@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.mental-header{
  --background: #403742;
}

.mental-title {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  span {
    font-weight: 900;
    font-size: 30px;
    color: #00A375;
  }
}

ion-content::part(background) {
  background-color: #E5E5F7;
  opacity: 0.4;
  background-image: radial-gradient(#444CF7 1px, #E5E5F7 1px);
  background-size: 20px 20px;
}

.mental-content {
  --background: #fcfcfc;
}

.result {
  margin-bottom: 1rem;
  margin-left: 0.2rem;
}
