<ion-header>
  <ion-toolbar class="mental-header">
    <ion-title class="mental-title">Ментал<span>Ъ</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ваши результаты</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <canvas #barChart></canvas>
        <div *ngIf="emptyChart">
          <div>Вы еще не проходили тест</div>
          <ion-button (click)="goToMain()" color="warning">Пройти тест</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
