#container {
  text-align: center;
}
ion-content::part(background) {
  background-color: #E5E5F7;
  opacity: 0.4;
  background-image: radial-gradient(#444CF7 1px, #E5E5F7 1px);
  background-size: 20px 20px;
}


.mental-card {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  opacity: 0.9;
  &__header {
    font-weight: bold;
    font-size: 2em;
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.mental-header{
  --background: #403742;
}
.mental-title {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  span {
    font-weight: 900;
    font-size: 30px;
    color: #00A375;
  }
}


.waves {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 80%;
  overflow: hidden;

  transition: .4s transform ease;
  transform-origin: bottom center;

  @media (min-width: 500px) {
    border-radius: 5px;
  }
}

$blue-dark:        #1E384C;
$blue:             #2C7FBE;
$blue-light:       #32BAFA;
$green:            #02C39A;

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: wave 1s linear infinite;

  &--front {
    z-index: 2;
    color: $blue-light;
  }

  &--back {
    z-index: 1;
    color: $blue;
    animation-direction: reverse;
  }
}

.water {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 66.7%;
  background: currentColor;

  svg {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 99.9%;
  }
}
.water:first-of-type {
  transform: translate(-100%,0);
}

svg {
  fill: currentColor;
}
.sub-text {
  margin-bottom: 1rem;
}
.result-number {
  font-size: 3em;
  color: rgb(33, 44, 74);
}
@keyframes wave{
  0% {
    transform: translate3d(0,0,0);
  }
  50% {
    transform: translate3d(50%,.5em,0);
  }
  100% {
    transform: translate3d(100%,0,0);
  }
}

@keyframes pulse{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulseAway {
  0% {
    opacity: 0;
    transform: scale(.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
  }
}

